# Ignorar arquivos de configuração específicos do sistema
*.iml
.idea/
*.DS_Store

# Ignorar arquivos temporários e de cache
/tmp/
/log/
!/log/.keep
/public/assets/
/public/packs/

# Ignorar arquivos de dependências gerados pelo Bundler
/vendor/bundle/
Gemfile.lock

# Ignorar chaves privadas, certificados e arquivos sensíveis
/config/master.key
/config/credentials.yml.enc

# Ignorar arquivos e diretórios de ambiente local
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar arquivos de backup
*.bak
*.backup

# Ignorar arquivos de cache do Rails
/cache/
